[submodule "config/vim/pack/plugins/start/omnisharp-vim"]
	path = config/vim/pack/plugins/start/omnisharp-vim
	url = git://github.com/OmniSharp/omnisharp-vim
[submodule "config/vim/pack/plugins/start/vim-compiler-plugin-for-dotnet"]
	path = config/vim/pack/plugins/start/vim-compiler-plugin-for-dotnet
	url = https://github.com/tmadsen/vim-compiler-plugin-for-dotnet.git
[submodule "config/vim/pack/plugins/start/vim-dispatch"]
	path = config/vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "config/vim/pack/plugins/start/jedi-vim"]
	path = config/vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
