[submodule "config/vim/pack/plugins/start/omnisharp-vim"]
	path = config/vim/pack/plugins/start/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim.git
[submodule "config/vim/pack/plugins/start/vim-dispatch"]
	path = config/vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "config/vim/pack/plugins/start/jedi-vim"]
	path = config/vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "config/vim/pack/plugins/start/vim-test"]
	path = config/vim/pack/plugins/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "config/vim/pack/plugins/start/tcomment_vim"]
	path = config/vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "config/vim/pack/plugins/start/vim-surround"]
	path = config/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/vim/pack/plugins/start/vim-Verdin"]
	path = config/vim/pack/plugins/start/vim-Verdin
	url = https://github.com/machakann/vim-Verdin
[submodule "config/vim/pack/plugins/start/syntastic"]
	path = config/vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "config/vim/pack/plugins/start/dotnet_core-vim"]
	path = config/vim/pack/plugins/start/dotnet_core-vim
	url = https://github.com/yyang-even/dotnet_core-vim
[submodule "config/vim/pack/plugins/start/dotnet_test-vim"]
	path = config/vim/pack/plugins/start/dotnet_test-vim
	url = https://github.com/yyang-even/dotnet_test-vim
[submodule "config/vim/pack/plugins/start/vim-fugitive"]
	path = config/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/vim/pack/plugins/start/vim-repeat"]
	path = config/vim/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "config/vim/pack/plugins/start/vim-markdown"]
	path = config/vim/pack/plugins/start/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
[submodule "config/vim/pack/plugins/start/tabular"]
	path = config/vim/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
